<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Ishbulatov41Entities" connectionString="metadata=res://*/IshbulatovDB.csdl|res://*/IshbulatovDB.ssdl|res://*/IshbulatovDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HQREJ2L;initial catalog=Ishbulatov41;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>